
:root{
    --primary: #0d6efd;
    --dark: #21252f;
    --body: rgb(13, 15, 16);
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body{   
    font-family: 'Cardo', serif;
    line-height: 1.7;
    color: var(--body);
}

h1,h2,h3,h4,h5
.display-4{
    color:var(--dark);
    font-weight: 700;
}

a{
    color:var(--dark);
    text-decoration:none;
}
.navbar .logo{
    width:200px;
}



.slider{
    background-image: url(./assets/img/Slider-photo-1.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    z-index: 2;
}

.slider::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 116, 195, 0.5);
    z-index: -1; 
}

#roma{
    background-image: url(./assets/img/roma.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    max-width: auto;
    font-size: 15px;
    border:0;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
}

#madrid{
    background-image: url(./assets/img/madrid.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    max-width: auto;
    font-size: 15px;
    border: 0;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;


}

#londres{
    background-image: url(./assets/img/londres.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    max-width: auto;
    font-size: 15px;
    border: 0;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
}

#maldivas{
    background-image: url(./assets/img/maldivas.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    max-width: auto;
    font-size: 15px;
    border: 0;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
}

#bangkok{
    background-image: url(./assets/img/paris.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    max-width: auto;
    font-size: 15px;
    border: 0;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
}

#tokyo{
    background-image: url(./assets/img/bangkok.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    max-width: auto;
    font-size: 15px;
    border: 0;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
}



.card{
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease-in-out;
    width: auto;
    height:auto;
    margin-bottom: 1rem;


}

.team-member img {
    border-radius: 300px;
    width: 125px%;
    height: 125%;
    object-fit: cover;  
}

.social-links{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 1rem;
}
.social-links a{
    width:34px;
    height:34px;
    background-color: var(white);
    border-radius: 2px solid var(--primary);
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 100px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

footer{
    width:100%;
    background-color: #f8f9fa;
    padding:3% 3% 3% 3%;
    color: var(--dark);
}
.fa{
    padding:15px;
    font: size 25px;
}

.fa:hover {
    color: var(--primary);
    text-decoration: none;
}

.icon{
    max-width: 200px;
}

/* Tips*/
.main-row{
    margin:8%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;

}

.blog-img{
    width: 400px;
    height: 100px;
    transform: translateY(-30px) translateX(225px);
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 8px 3px rgba(0,0,0,.3);

}
.blog-img:hover{
    transform: translateY(-40px) scale(1.1);
    transition: all 0.3s ease-in-out;
}

.blog-date span {
    color: var(black);
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    margin-bottom: 0.5rem;
    

}
 



.blog-title > h2 {
    font-size: normal;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: var(--dark);


}

.blog-desc > p {
    font-style: normal;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark);
    margin-bottom: 1rem;

}